.btn-custom {
  background-color: hsl(36, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad32", endColorstr="#cc7a00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffad32), to(#cc7a00));
  background-image: -moz-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -ms-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffad32), color-stop(100%, #cc7a00));
  background-image: -webkit-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -o-linear-gradient(top, #ffad32, #cc7a00);
  background-image: linear-gradient(#ffad32, #cc7a00);
  border-color: #cc7a00 #cc7a00 hsl(36, 100%, 35%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: none;
}

.hero-unit {
  background: url("../img/colorpleth_bg.png") no-repeat center;
}

#main {
  margin: 0 auto;
}

#giveCamp_map { height: 400px; }

.colours-pms-157, .colours-pms-158 {

}

.colours-pms-157 {
  background-color: rgb(237, 160, 79);
}

.colours-pms-158 {
  background-color: rgb(232, 117, 17);
}

.colours-map-1 {
  background-color: #FFC77F;
}
.colours-map-2 {
  background-color: #FDB96F;
}
.colours-map-3 {
  background-color: #FCBA51;
}
.colours-map-4 {
  background-color: #FAB247;
}
.colours-map-5 {
  background-color: #F9913E;
}
.colours-map-6 {
  background-color: #F78931;
}
.colours-map-7 {
  background-color: #F67124;
}
.colours-map-8 {
  background-color: #F46817;
}
.colours-map-9 {
  background-color: #F64B06;
}
.colours-map-10 {
  background-color: #F54002;
}