.btn-custom {
  background-color: hsl(28, 93%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f67a0d", endColorstr="#ac5306");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f67a0d), to(#ac5306));
  background-image: -moz-linear-gradient(top, #f67a0d, #ac5306);
  background-image: -ms-linear-gradient(top, #f67a0d, #ac5306);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f67a0d), color-stop(100%, #ac5306));
  background-image: -webkit-linear-gradient(top, #f67a0d, #ac5306);
  background-image: -o-linear-gradient(top, #f67a0d, #ac5306);
  background-image: linear-gradient(#f67a0d, #ac5306);
  border-color: #ac5306 #ac5306 hsl(28, 93%, 31%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.hero-unit {
  background: url("../img/colorpleth_bg.png") no-repeat center;
}

#giveCamp_map { height: 180px; }

.colours-pms-157, .colours-pms-158 {

}

.colours-pms-157 {
  background-color: rgb(237, 160, 79);
}

.colours-pms-158 {
  background-color: rgb(232, 117, 17);
}

.colours-map-1 {
  background-color: #FFC77F;
}
.colours-map-2 {
  background-color: #FDB96F;
}
.colours-map-3 {
  background-color: #FCBA51;
}
.colours-map-4 {
  background-color: #FAB247;
}
.colours-map-5 {
  background-color: #F9913E;
}
.colours-map-6 {
  background-color: #F78931;
}
.colours-map-7 {
  background-color: #F67124;
}
.colours-map-8 {
  background-color: #F46817;
}
.colours-map-9 {
  background-color: #F64B06;
}
.colours-map-10 {
  background-color: #F54002;
}