body {
	margin: 10px;
	font-family: arial, helvetica, sans-serif;
	font-size: 75%;
	background: #fff;
	background: url(img/gpcah-site-bg.png) top center;
}
.clearfix {
	zoom:1;
}
.clearfix:before,
.clearfix:after {
	display: block;
	height: 0;
	content: ".";
	overflow: hidden;
	visibility: hidden;
}
.clearfix:after {
	clear: both;
}

#main {
	margin: 200px auto 0;
	width: 860px;
}
.mapbox {
	border: 1px solid #BBB;
	border-radius: 5px;
	padding: 5px;
}
#map {
	float: left;
  	height: 400px;
	width: 625px;
}
#county-info {
	padding: 10px;
	width: 200px;
	height: 380px;
	float: left;
	border-left: 1px solid #bbb;
	background-color: #ebebeb;
}
	#county-info ul {
		margin: 0 0 10px;
		padding: 0;
	}
	
.demographic-data {	
	display: block;
	margin: 0;
	padding: 0 0 5px 0;
}
	span {
		display: block;
	}
	.demographic-data-label {
		font-size: 0.917em;
		font-weight: bold;
	}
	.demographic-data-value {
		margin-left: 10px;
	}
	
	.county_name .demographic-data-label {
		position: absolute;
		left: -9999px;
	}
	.county_name .demographic-data-value {
		margin: 0;
		font-size: 1.75em;
		font-weight: bold;
	}
	.food-ins-rate-child span {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px dotted #ccc;
	}