body {
	margin: 10px;
	font-family: arial, helvetica, sans-serif;
	font-size: 75%;
	background: #fff;
	background: url(img/gpcah-site-bg.png) top center;
}
.clearfix {
	zoom:1;
}
.clearfix:before,
.clearfix:after {
	display: block;
	height: 0;
	content: ".";
	overflow: hidden;
	visibility: hidden;
}
.clearfix:after {
	clear: both;
}

#main {
	margin: 200px auto 0;
	width: 860px;
}
.mapbox {
	border: 1px solid #BBB;
	border-radius: 5px;
	padding: 5px;
}
#map {
	float: left;
  	height: 400px;
	margin-right: 1%;
	width: 78%;
	min-width: 600px;
}
#county-info {
	padding: 1%;
	width: 18%;
	min-width: 150px;
	height: 400px;
	color: #F00;
	float: left;
	border: 1px solid #BBB;
}
	#county-info ul {
		margin: 0 0 10px;
		padding: 0;
	}
	#county-info li {
		display: block;
		margin: 0;
		padding: 0 0 0 5px;
		list-style: outside;
	}
