body {
	margin: 10px;
	font-family: arial, helvetica, sans-serif;
	background: #fff;
}
.clearfix {
	zoom:1;
}
.clearfix:before,
.clearfix:after {
	display: block;
	height: 0;
	content: ".";
	overflow: hidden;
	visibility: hidden;
}
.clearfix:after {
	clear: both;
}

.mapbox {
	border: 1px solid #BBB;
	border-radius: 5px;
	padding: 5px;
}
#map {
	float: left;
  	height: 400px;
	margin-right: 1%;
	width: 78%;
	min-width: 600px;
}
#county-info {
	padding: 1%;
	width: 18%;
	min-width: 150px;
	height: 400px;
	color: #F00;
	float: left;
	border: 1px solid #BBB;
}
	#county-info span {
		display: block;
	}
